

.header {
  background-color: #00f1f1;
  padding: 10px;
  text-align: center;
  border-style: dashed;
  border-width: 5px;
  border: 15px solid #ffAF50;
}

.footer {
  background-color: #F1F100;
  text-align: center;
  padding: 10px;
  border-style: dashed;
  border-width: 15px;
  border: 10px solid #4CAff0;
  float: left;
  height: 150px
}

h1 {
  font-size: 25pt;
  color: #ff00ff;
  font-family: arial;
  border-style: dashed;
  border-width: 15px;
  border: 15px solid #4CAF50;
}

body {
  background-color: #f000f0;
  margin: 0;
}

.column.side {
  width: 25%;
  background-color: #FF3300;
  height: 420px;
  float: left;
  border-style: dashed;
  border-width: 10px;
  border: 10px solid #4AFff0;
}

.column.middle {
  width: 72%;
  height: 420px;
  float: left;
  border-style: dashed;
  border-width: 10px;
  border: 10px solid #4fCF50;
}

.column-1{
	width: 8.33%;
}
.column-2{
		width: 16.66%;
}
.column-3{
		width: 25%;

}f
.column-4{
		width: 33.33%;

}
.column-5{
		width: 41.66%;
}

.column-6{
		width: 50%;
}

.column-7{
		width: 58.3%;
}

.column-8{
		width: 66.67%;
}

.column-9{
		width: 75%;
}

.column-10{
		width: 83.33%;

}
.column-11{
		width: 91.67%;
}
.column-12{
		width: 97.5%;
}

[class *= column-]{
	float: left;
}