/** tags **/
h1
{
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    margin:5px;
    padding:5px;
}

h6
{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin: 5px;
    padding:5px;
}

ul{
    list-style-image: url(/assets/img/icon_chevron_right.png);
    width: 263px;
}

ul li{
    margin: 10px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ccc;
    display: inline flow-root list-item;
}

ul li.active {
    list-style-image: url(/assets/img/icon_chevron_bottom_active.png);
    color: #FFF;
}

ul li > ul li {
    list-style-image: url(/assets/img/icon_media_record.png);
    color: #CCC;
    height: 24px;
    width: 200px;
}

ul li.active > ul li.active {
    list-style-image: url(/assets/img/icon_media_record_active.png);
    color: #FFF;
}

input{
    width: 45vw;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px -4px 10px rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    border: 1px solid transparent;
    margin-top: 1em;
    padding-left: 5vw;
}

input::placeholder{
    color:#CCC;
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}


/** classes **/
.full-height
{
    height: 100%;
}

.row {
    width: 100%;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.container-left
{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-flow: wrap;
    width: min-content;
    height: min-content;
}

.btn-default
{
    width: 212px;
    height: 51px;
    color: #f29100;
    font-family: 'Patua One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    border: 3px solid #F29100;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    margin: 1em;
    float:right;
}